@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.navigation-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F3F3;
    height: 50px;
    padding: 0 50px;
}
.navigation-main a{
    text-decoration: none;
    color: black;
}
.navigation-main ul{
    display: flex;
    list-style: none;
}

.navigation-main li{
    padding:  10px;
    /* border: 1px solid; */
    /* height: 100%; */
}
.navigation-main li:hover ,.navigation-main a:hover{
    background: lightskyblue;
    color: #F3F3F3;
}

.nav-corona{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #A1A1FD;
    height: 50px;
}
.nav-corona ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
.nav-corona h1{
    margin-left: 30px;
}
.nav-corona ul li a{
    text-decoration: none;
    color: white; 
    margin: 0 10px; 
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main h1{
    line-height: 35px;
}
.vector{
    width: 30%;
}
.update{
    text-align: center;
    width: 100%;
}
.update h1{
    color: rgba(235, 78, 78, 0.877);
}
.box{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 40px;
    height: 150px;
}
#recoverd{
    color: green;
}
#deaths{
    color: red;
}
#symptoms{
    text-align: center;
}
.symptoms-img{
    width: 70%;
    margin: auto;
}
#prevntation{
    text-align: center;
}
.preventation-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    justify-content: space-evenly;
    margin: 60px auto;
}
.preventation-info{
    display: flex;
    align-items: center;
    margin: 30px auto;
    width: 300px;
}
.preventation-info img{
    width: 70px;
}